.checkbox-control {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    margin-right: 4px;
    border: 1px solid #666;
    border-radius: 1px;
    background-color: #2c2c2c;
    position: relative;
    cursor: pointer;
}

.checkbox-control:checked::after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: 18px;
    color: #c8c8c8;
}
_::-webkit-full-page-media, _:future, :root .checkbox-control:checked::after {
    top: -6px !important;
    font-size: 24px !important;
}
