* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #e5e5e5;
    user-select: none;
    -webkit-user-select: none;
}

.page-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
}

.top-nav {
    flex-grow: 0;
    text-align: right;
}

.settings-dialog-container {
    flex-grow: 1;
    overflow-y: auto;
}

/**
 ** CONTROL
 **/

.control-container {
    cursor: pointer;
}

input[type="checkbox"].control {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    margin-right: 4px;
    border: 1px solid #666;
    border-radius: 1px;
    background-color: #2c2c2c;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"].control:checked::after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: 18px;
    color: #c8c8c8;
}
_::-webkit-full-page-media, _:future, :root input[type="checkbox"].control:checked::after {
    top: -6px !important;
    font-size: 24px !important;
}

input[type="number"].control {
    padding: 5px 8px;
    font-size: 16px;
    width: 5em;
    background-color: #333;
    color: #c8c8c8;
    border: 1px solid #666;
    border-radius: 1px;
}

.control.color-picker {
    display: inline-block;
    margin-right: 4px;
}

.control.color-picker .pcr-button {
    width: 24px;
    height: 24px;
}

button {
    background-color: #0078d4;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0070c0;
}

.control.keys-list {
    position: relative;
    display: inline-block;
    background-color: #dadada;
    border-radius: 4px;
    padding: 4px;
    min-width: 60px;
    min-height: 60px;
}
.control.keys-list.recording {
    background-color: #ff4444;
}

.control.keys-list .clear {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    border: 1px solid #7c7c7c;
    background: #ddd;
    color: #7c7c7c;
    cursor: pointer;
}
.control.keys-list:hover .clear {
    visibility: visible;
}
.control.keys-list.empty .clear {
    visibility: hidden;
}
.control.keys-list.recording .clear {
    visibility: hidden;
}

.control.keys-list .clear .clear-content {
    position: absolute;
    font-size: 24px;
    top: -10px;
    left: 2px;
}

.control.keys-list .control.key {
    margin: 4px;
}

.control.key {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #ccc;
    border-radius: 4px;
    padding-bottom: 1px;
}
.control.key .key-top {
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    background-color: #fcfcfc;
}
.control.key .key-top .key-labels {
    width: 48px;
    height: 48px;
}
.control.key .key-label {
    position: relative;
    font-size: 16px;
    color: #7c7c7c;
}
.control.key.special-key .key-top .key-labels {
    background: repeating-linear-gradient(
        45deg,
        #ddd,
        #ddd 4px,
        transparent 4px,
        transparent 8px
    );
}
.control.key.special-key .key-top .key-label {
    font-style: italic;
    color: white;
    text-shadow:
         1px  -1px 1px black,
        -1px  -1px 1px black,
         1px   1px 1px black,
        -1px   1px 1px black;
}

/**
 ** SETTINGS ITEM
 **/

.settings-item {
    padding: 16px;
}
.settings-item:hover {
    background-color: #222222;
    border-radius: 4px;
}

.settings-item .title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: block;
    margin-bottom: 8px;
}

.settings-item .description {
    vertical-align: top;
    font-size: 16px;
    font-weight: normal;
    color: #ccc;
    line-height: 1.4;
    margin-bottom: 8px;
}

.settings-item .description.side-by-side {
    display: inline-block;
    width: calc(100% - 64px);
    margin-bottom: 0px;
}


/**
 ** SETTING ITEM CONTAINER
 **/

 .section h1 {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    padding: 20px 16px 8px;
}

.section .section-description {
    font-style: italic;
    padding: 0px 16px 8px;
}

.settings-dialog {
    margin: 0 auto;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
